# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.myenv/
*.env
.Python

# VS Code settings
.vscode/

# Pyenv
.python-version

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/

# FastAPI specific
*.db
*.log

# dotenv
.env
.env.*

# macOS files
.DS_Store

# pyright / pylance / language server
pyrightconfig.json
.pyright/
